# Make sure clams-python version is explicitly specified, at least the lower bound
# NeMo is similarly finicky about the torch version
clams-python>=1.3.3
ffmpeg-python
nemo-toolkit[asr]==2.*
torch==2.*
soundfile
omegaconf
